APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SENDCLOUD_API_USER=ruogu_batch
SENDCLOUD_API_KEY=
SENDCLOUD_FROM_ADDR=pusher@ruogumail.com
SENDCLOUD_FROM_NAME=若古社区

SKEY_291699782=@
SKEY_2656148155=@
SKEY_2545804584=@

SKEY_1576406713=@
GROUP_1576406713=

WEEKEND_MODE=false
